#landing {
  #introduction {
    background: transparent url('../../../static/images/header-bg.jpg');
    min-height: 100vh;
    color: white;
    margin: 0px;
    padding: 1em;
  }
  #features {
    background: transparent;
    min-height: 100vh;
    color: black;
    margin: 0px;
    padding: 1em;
  }
  #techstack {
    background: transparent;
    min-height: 100vh;
    color: black;
    margin: 0px;
    padding: 1em;
  }
}

.jh-card {
  padding: 0em;
}

#introduction {
  text-align: center;
}
