@-webkit-keyframes fill {
  to {
    background-size: 100% 0%;
  }
}

@keyframes fill {
  to {
    background-size: 100% 0;
  }
}

//The wrapper has the .cnh_holding class while the button is being pressed

.cnh_holding button {
  background: -webkit-linear-gradient(white, white) rgb(255, 215, 235) no-repeat 0 0;
  background: linear-gradient(white, white) rgb(255, 215, 235) no-repeat 0 0;
  mix-blend-mode: multiply;
  background-size: 100% 100%;
  -webkit-animation: fill 2s forwards;
  animation: fill 2s forwards;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker-wrapper {
  width: 100%;
}

#time-entries-header {
  margin-bottom: 1em;
}
